.header{
	background:rgb(67, 181, 31)	;
}
.judul{
	padding:4vh;
	font-size:2.8vh;
	color:#fff;
	text-align:center;
}

.atas{
	height:15vh;
	/* background: linear-gradient( white, #efffff);
	background: -webkit-linear-gradient(white, #efffff); 
	background: -o-linear-gradient(white, #efffff); 
	background: -moz-linear-gradient(white, #efffff); */
	border-bottom:3px solid rgb(67, 181, 31);
	background-color:rgb(67, 181, 31);	
	text-align:center;
	padding-top:1vh;
}
.atas img{
	height:85%;
}
.grad1 {
    height: 90%;
    width: 100%;
	background: linear-gradient(#efffff, white); /* Standard syntax */
	background: -webkit-linear-gradient(#efffff, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#efffff, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#efffff, white); /* For Firefox 3.6 to 15 */
   }
.bawah{
	border-top:5px solid #314b61;
	color:#fff;
	text-align:center;
    padding:35px;
    background-origin: content-box;
    background-position: center; 
	background-color:rgb(67, 181, 31);
}
.as img{
	height:15vh;
}
.q{
	margin-top:8vw;
}
.we{
	margin-top:10vw;
}
@media (max-width: 767px) {
    .we{
		margin-top:0vw;	
	}
	.q{
		margin-top:0vw;"
	}
	.grad1 {
		height: 130vw;
		margin-bottom:2vh;
	}
}
@media (max-width: 479px) {
    .we{
		margin-top:0vw;	
	}
	.q{
		margin-top:0vw;"
	}
	.grad1 {
		height: 170vw;
		margin-bottom:2vh;
	}
}